build
dist
MANIFEST
html
html.zip
html.tar.gz
tests/*.out
tests/real_psl.txt
tests/real_psl_tests.txt
*.pyc
.coverage
.tox
dnspython.egg-info/
.eggs/
.mypy_cache/
.python-version
poetry.lock
htmlcov
coverage.xml
.dir-locals.el
.vscode/
doc/_build
