[MASTER]
# Pickle collected data for later comparisons.
persistent=no

# Use multiple processes to speed up Pylint, auto-detect number of cores.
jobs=0

[MESSAGES CONTROL]

enable=
    all,

# It's worth looking at len-as-condition for optimization, but it's disabled
# here as it is not a correctness thing.  Similarly eq-without-hash is
# probably worth improving.

disable=
    R,
    I,
    broad-except,
    fixme,
    global-statement,
    invalid-name,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    no-absolute-import,
    no-member,  # We'd like to use this, but our immutability is too hard for it
    protected-access,
    redefined-builtin,
    too-many-lines,
    raise-missing-from,   # we should start doing this, but too noisy for now
    consider-using-f-string,
    unspecified-encoding,
    useless-super-delegation, # not against this, but we have to do it for mypy happiness
    use-implicit-booleaness-not-comparison-to-zero,  # I often prefer non-implicit booleaness.
    use-implicit-booleaness-not-comparison-to-string,
    unused-argument,
    useless-import-alias,

[REPORTS]

# Set the output format. Available formats are text, parseable, colorized, msvs
# (visual studio) and html. You can also give a reporter class, eg
# mypackage.mymodule.MyReporterClass.
#output-format=colorized
output-format=parseable

# Tells whether to display a full report or only the messages
reports=no

# Template used to display messages. This is a python new-style format string
# used to format the message information. See doc for all details
msg-template='{path}:{line}: [{msg_id}({symbol}), {obj}] {msg})'

[FORMAT]
max-line-length=110
