[tool.poetry]
name = "dnspython"
version = "2.2.0rc1"
description = "DNS toolkit"
authors = ["Bob Halley <halley@dnspython.org>"]
license = "ISC"
packages = [
    {include = "dns"}
]
include = [
    { path="LICENSE", format="sdist" },
    { path="README.md", format="sdist" },
    { path="examples/*.txt", format="sdist" },
    { path="examples/*.py", format="sdist" },
    { path="tests/*.txt", format="sdist" },
    { path="tests/*.py", format="sdist" },
    { path="tests/*.good", format="sdist" },
    { path="tests/example", format="sdist" },
    { path="tests/query", format="sdist" },
    { path="tests/*.pickle", format="sdist" },
    { path="tests/*.text", format="sdist" },
    { path="tests/*.generic", format="sdist" },
    { path="util/**", format="sdist" },
    { path="setup.cfg", format="sdist" },
]
exclude = [
    "**/.DS_Store",
    "**/__pycache__/**",
]

[tool.poetry.dependencies]
python = "^3.6"
httpx = {version=">=0.21.1", optional=true, python=">=3.6.2"}
h2 = {version=">=4.1.0", optional=true, python=">=3.6.2"}
requests-toolbelt = {version="^0.9.1", optional=true}
requests = {version="^2.23.0", optional=true}
idna = {version=">=2.1,<4.0", optional=true}
cryptography = {version=">=2.6,<37.0", optional=true}
trio = {version=">=0.14,<0.20", optional=true}
curio = {version="^1.2", optional=true}
sniffio = {version="^1.1", optional=true}
wmi = {version="^1.5.1", optional=true}

[tool.poetry.dev-dependencies]
mypy = "^0.920"
pytest = ">=5.4.1,<7"
pytest-cov = "^3.0.0"
flake8 = "^4.0.1"
sphinx = "^4.0.0"
coverage = "^6.0"
twine = "^3.1.1"
wheel = "^0.35.0"
pylint = "^2.7.4"

[tool.poetry.extras]
doh = ['httpx', 'h2', 'requests', 'requests-toolbelt']
idna = ['idna']
dnssec = ['cryptography']
trio = ['trio']
curio = ['curio', 'sniffio']
wmi = ['wmi']

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.setuptools_scm]
