# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI

on:
  push:
    branches:
      - 2.8
    paths:
      - '**.py'
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14-dev"
          - "pypy3.10"
        exclude:
          - os: windows-latest
            python-version: "3.10"
          - os: windows-latest
            python-version: "3.11"
          - os: windows-latest
            python-version: "pypy3.10"

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install cryptography trio idna httpx h2 aioquic mypy pytest ruff pyright
    - name: Typecheck
      run: |
        python -m mypy --disallow-incomplete-defs dns
        pyright dns
    - name: Lint
      run: |
        ruff check dns
    - name: Test with pytest
      run: |
        pytest

    - name: Test with wmi
      if: ${{ startsWith(matrix.os, 'windows') }}
      run: |
        python -m pip install ".[wmi]"
        pytest
